experiments/.DS_Store
.DS_Store
experiments/data/
experiments/sparse_CCA/logs/
experiments/sparse_CCA/results/
.RData
.Rhistory
experiments/sparse_CCA/results/results/
fMRI-data/
.Rproj.user
.png
.csv
.pdf
group-CCA.Rproj
